# Preamble:

Purpose: Cleans the marriage data to create an analysis dataset.

Author: Justin(Jiazhou) Bi

Date: 23 September 2024

Contact: justin.bi@mail.utoronto.ca

Pre-requisites: Raw data available for download in notebook: 01-download_data.ipynb

In [36]:
# Loading necessary packages
import pandas as pd

In [37]:
# path = 'data/raw_data/raw_data.csv'
df = pd.read_csv('/Users/jiazhoubi/Desktop/UT MI/INF 3104/reported-crime/data/raw_data/raw_data.csv')
print(df)

         _id  REPORT_YEAR DIVISION                        CATEGORY  \
0          1         2022      D32         Crimes Against Property
1          2         2023      D12         Crimes Against Property
2          3         2014      D13         Crimes Against Property
3          4         2021      NSA       Crimes Against the Person
4          5         2020      D53         Crimes Against Property
...      ...          ...      ...                             ...
36878  36879         2017      D55       Crimes Against the Person
36879  36880         2022      D32       Crimes Against the Person
36880  36881         2014      D51  Other Criminal Code Violations
36881  36882         2014      D43         Crimes Against Property
36882  36883         2023      D31         Crimes Against Property

                                             SUBTYPE  COUNT_  COUNT_CLEARED
0                                         Auto Theft      79              0
1                                Break & Enter-House       1              0
2                                         Auto Theft       7              0
3                                   Sexual Violation       1              0
4                            Break & Enter-Apartment       2              0
...                                              ...     ...            ...
36878                                        Assault      35             25
36879                                          Other       9              4
36880  Other Criminal Violations - Offensive Weapons       5              4
36881                                     Auto Theft       2              1
36882                                     Auto Theft     122              1

[36883 rows x 7 columns]

In [38]:
# Removing the id column that is not required for our data analysis
df = df.drop(columns=['_id','DIVISION'])
print(df)

       REPORT_YEAR                        CATEGORY  \
0             2022         Crimes Against Property
1             2023         Crimes Against Property
2             2014         Crimes Against Property
3             2021       Crimes Against the Person
4             2020         Crimes Against Property
...            ...                             ...
36878         2017       Crimes Against the Person
36879         2022       Crimes Against the Person
36880         2014  Other Criminal Code Violations
36881         2014         Crimes Against Property
36882         2023         Crimes Against Property

                                             SUBTYPE  COUNT_  COUNT_CLEARED
0                                         Auto Theft      79              0
1                                Break & Enter-House       1              0
2                                         Auto Theft       7              0
3                                   Sexual Violation       1              0
4                            Break & Enter-Apartment       2              0
...                                              ...     ...            ...
36878                                        Assault      35             25
36879                                          Other       9              4
36880  Other Criminal Violations - Offensive Weapons       5              4
36881                                     Auto Theft       2              1
36882                                     Auto Theft     122              1

[36883 rows x 5 columns]

In [39]:
# Checking if there are any missing values in the DataFrame
missing_values = df.isna().sum()
print(missing_values)

REPORT_YEAR      0
CATEGORY         0
SUBTYPE          0
COUNT_           0
COUNT_CLEARED    0
dtype: int64

In [40]:
# Renaming the column to make the formatting more consistent
df = df.rename(columns = {'COUNT_':'COUNT'})

In [41]:
# Calculating the clearing rate for the report cases
df['CASE_CLEARING_RATE'] = df['COUNT_CLEARED']/df['COUNT']
df.head()

,REPORT_YEAR,CATEGORY,SUBTYPE,COUNT,COUNT_CLEARED,CASE_CLEARING_RATE
0,2022,Crimes Against Property,Auto Theft,79,0,0.0
1,2023,Crimes Against Property,Break & Enter-House,1,0,0.0
2,2014,Crimes Against Property,Auto Theft,7,0,0.0
3,2021,Crimes Against the Person,Sexual Violation,1,0,0.0
4,2020,Crimes Against Property,Break & Enter-Apartment,2,0,0.0

In [42]:
# Saving the cleaned DataFrame into a csv file for future reference
df.to_csv('/Users/jiazhoubi/Desktop/UT MI/INF 3104/reported-crime/data/analysis_data/analysis_data.csv', index=False)